/1.exe
/2.exe
/8(1).exe
/adjacent_remove.exe
/alternatesort.exe
/check_parathesis.exe
/coin_sum.exe
/coin_sum1.exe
/div_with_sub.exe
/fact.exe
/huge2.exe
/hugenumbr.exe
/mapsort.exe
/map_example.exe
/matix_game.exe
/max_pair.exe
/merge_using_sort.exe
/number_rotate.exe
/num_times_alpha_print.exe
/order.exe
/patter1.exe
/revrese_using_recursion.exe
/sort_in_oddandeven.exe
/string_compresion.exe
/tree.exe
/weight.exe